@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
body {
  margin: 0;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.hide-mobile {
  display: none;
}

img {
  width: 100%;
}

.social-header {
  display: none;
}

.hero-design {
  display: none;
}

.nav-container {
  background-color: #6700ee;
}

.nav-container a {
  color: #fff;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.6em 1em;
}

header .logo {
  color: #00ffd1;
  font-weight: bold;
  font-size: 0.7em;
  margin-left: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .menu {
  width: 24px;
  cursor: pointer;
}

.hero {
  background-color: #6e00ff;
  color: #fff;
  text-align: center;
}

.hero .content {
  padding: 3em;
}

.hero .content h1 {
  font-size: 1.6em;
}

.hero .content .meet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .content .meet p {
  color: #ff64cb;
  font-weight: bold;
  font-size: 0.8em;
  margin: 0;
}

.hero .content .meet span img {
  width: 24px;
  margin-top: 0.1em;
  margin-left: 0.4em;
}

.hero .content .scroll {
  width: 20px;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.featured {
  position: relative;
}

.featured::before {
  content: '';
  background-color: #6f00ff49;
  position: absolute;
  top: 0;
  left: 0;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  z-index: -1;
}

.subtitle {
  color: #6e00ff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  margin: 0.5em 0;
}

.featured-title {
  color: black;
  font-weight: bold;
  font-size: 1.4em;
}

.featured-desc {
  font-size: 0.8em;
  margin: 1em 0 2.5em;
  line-height: 1.7em;
}

.featured img {
  border-radius: 14px;
}

.skills {
  background-color: #ff64cb;
}

.skills .skills-container ul li {
  background-color: #fff;
  border-radius: 1em;
  padding: 4em 2.5em;
  margin-bottom: 1em;
}

.skills .skills-container ul li .one {
  width: 50px;
}

.skills .skills-container ul li .two {
  width: 150px;
}

.skills .skills-container ul li .three {
  width: 60px;
}

.skills .skills-container ul li .skill-title {
  font-weight: bold;
  font-size: 1.2em;
  margin: 1.5em 0 1em;
}

.skills .skills-container ul li .skill-desc {
  font-size: 0.9em;
  line-height: 2em;
}

.portfolio {
  background-color: #f7f7f7;
}

.portfolio-container {
  margin-bottom: 3em;
}

.portfolio-container:last-child {
  margin: 0;
}

.portfolio-container .featured-title {
  margin: 0;
}

.portfolio-container a img {
  border-radius: 10px;
}

.contact-me p {
  font-weight: bold;
  display: inline-block;
  margin-right: 0.7em;
}

.contact-me a {
  color: #ff64cb;
  font-weight: bold;
  text-decoration: underline;
}

footer {
  background-color: #6e00ff;
  text-align: right;
  position: relative;
}

footer .footer-left {
  text-align: left;
}

footer .footer-left .social-header {
  display: block;
}

footer .footer-left .social-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  position: absolute;
  bottom: 1em;
  left: 1em;
}

footer .footer-left .social-header img {
  width: 24px;
  margin-left: 1em;
}

footer .footer-left nav {
  background-color: #6700ee;
  padding: 0.8em 1em;
}

footer .footer-left nav a {
  color: #00ffd1;
  font-weight: bold;
  font-size: 0.7em;
  margin-left: 1em;
}

footer .footer-right {
  margin-top: -4.5em;
}

footer .footer-design {
  width: 40%;
  height: 112%;
}

.nav-container ul {
  position: fixed;
  top: 0;
  right: 0;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.253);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  height: 0;
  width: 100%;
  z-index: 7;
  overflow-y: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-container ul li img {
  width: 24px;
  cursor: pointer;
}

.nav-container ul .exit-btn {
  text-align: right;
  padding: 0.6em 1em 0 0;
}

.nav-container ul li:nth-child(2) {
  text-align: center;
  color: #fff;
  font-size: 1.4em;
  font-weight: lighter;
}

.nav-container ul .menu-list {
  font-weight: lighter;
  padding-left: 1em;
  margin-bottom: 1em;
}

.nav-container ul .menu-list::before {
  content: '';
  width: 5px;
  height: 5px;
  display: inline-block;
  background-color: #ff64cb;
  border-radius: 50%;
  margin-right: 0.5em;
  margin-bottom: 0.1em;
}

.nav-container ul .social-for-mobile {
  text-align: center;
  margin-top: 23em;
  margin-left: 1em;
}

.nav-container ul .social {
  display: inline-block;
  margin-right: 20px;
}

@media only screen and (min-width: 800px) {
  .menu {
    display: none;
  }
  .nav-container ul {
    position: inherit;
    text-align: left;
    background-color: unset;
    -webkit-backdrop-filter: unset;
            backdrop-filter: unset;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow-y: visible;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-container ul .exit-btn {
    display: none;
  }
  .nav-container ul .menu-title {
    display: none;
  }
  .nav-container ul .menu-list {
    padding-left: 0.5;
    padding-right: 1em;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-container ul .menu-list::before {
    display: none;
  }
  .nav-container ul .social-for-mobile {
    display: none;
  }
  header {
    padding: 1.5em 2em;
  }
  header .logo {
    font-size: 1.1em;
    margin-left: 1em;
  }
  .hero .content {
    padding: 3em;
  }
  .hero .content h1 {
    font-size: 2em;
  }
  .hero .content .meet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 2em 0;
  }
  .hero .content .meet p {
    font-size: 1.1em;
    margin: 0;
  }
  .hero .content .meet span img {
    width: 28px;
    margin-top: 0.2em;
    margin-left: 0.7em;
  }
  .hero .content .scroll {
    width: 22px;
  }
  section {
    padding: 4em 0;
  }
  .featured,
  .portfolio-container {
    text-align: left;
  }
  .featured {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .featured::before {
    height: 250px;
    width: 250px;
  }
  .inner {
    padding: 1em 2em 1em 3em;
  }
  .featured img {
    width: 66%;
    margin-right: -4em;
    margin-top: 5em;
    margin-bottom: -5em;
  }
  .skills {
    padding: 6em 3em 0;
    margin-bottom: -2em;
  }
  .skills .skills-container ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .skills .skills-container ul li {
    padding: 4em 1em;
    margin: 0 0.5em 0;
  }
  .skills .skills-container ul li .three {
    margin-top: -0.7em;
  }
  .skills .skills-container ul li .skill-title {
    font-size: 1.2em;
    margin: 1.1em 0 1em;
  }
  .skills .skills-container ul li .skill-desc {
    font-size: 0.8em;
    line-height: inherit;
    margin-bottom: 0;
  }
  .portfolio {
    padding: 8em 0 4em;
  }
  .portfolio-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
  }
  footer .footer-left nav a {
    font-size: 0.9em;
  }
  footer .footer-design {
    width: 25%;
  }
}

@media only screen and (min-width: 1050px) {
  .nav-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
    background-color: unset;
  }
  header {
    padding: 1.5em 2em;
    background-color: #6700ee;
  }
  header .logo {
    font-size: 1em;
    margin-left: 2em;
  }
  .social-header {
    display: block;
    padding: 2em 4em 2em 0;
  }
  .social-header ul {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .social-header ul li {
    margin-left: 1.5em;
  }
  .social-header ul li:nth-child(2) {
    font-size: unset;
  }
  .hero {
    background-color: unset;
    text-align: left;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 66% auto;
        grid-template-columns: 66% auto;
  }
  .hero .hero-design {
    display: block;
    width: 80%;
    margin-left: -40%;
    margin-top: 10%;
    height: 80%;
  }
  .hero .content {
    background-color: #6e00ff;
    padding: 4em;
  }
  .hero .content h1 {
    font-size: 2.5em;
  }
  .hero .content .meet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin: 2em 0;
  }
  .hero .content .meet span img {
    width: 28px;
    margin-top: 0.2em;
    margin-left: 0.7em;
  }
  .hero .content .scroll {
    width: 24px;
  }
  .featured .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .inner {
    padding: 1em 2em 1em 3em;
  }
  .featured-desc {
    font-size: 0.9em;
  }
  .featured img {
    width: 66%;
    margin-right: -4em;
    margin-top: 2.5em;
    margin-bottom: -5em;
  }
  .skills {
    padding: 8em 3em 0;
  }
  .skills .three {
    margin-top: -0.7em;
  }
  .skills .skill-title {
    font-size: 1.2em;
    margin: 1.1em 0 1em;
  }
  .skills .skill-desc {
    font-size: 0.8em;
    line-height: inherit;
    margin-bottom: 0;
  }
  .portfolio-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .portfolio-container a img {
    margin-left: 2em;
  }
  .contact-me {
    padding: 6em 0;
  }
  .contact-me p {
    font-size: 1.2em;
  }
  .contact-me a {
    font-size: 1.2em;
  }
  .hide-mobile {
    display: block;
  }
  footer .footer-left {
    text-align: left;
  }
  footer .footer-left .social-header ul {
    padding-bottom: 1em;
    padding-left: 1.5em;
  }
  footer .footer-left nav {
    padding: 1.5em 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: first baseline;
        -ms-flex-pack: first baseline;
            justify-content: first baseline;
  }
  footer .footer-left nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 3em;
  }
  footer .footer-left nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer-left nav ul li a {
    color: #fff;
    font-weight: lighter;
  }
  footer .footer-left nav a {
    font-size: 0.9em;
  }
  footer .footer-right {
    margin-top: -10.5em;
  }
}

@media only screen and (min-width: 1250px) {
  .nav-container header {
    padding: 1.5em 6em;
  }
  .nav-container .social-header {
    padding: 2em 8em 2em 0;
  }
  .hero .content {
    padding: 4em 8em;
  }
  .hero .content h1 {
    font-size: 3em;
  }
  .hero .content .scroll {
    width: 30px;
  }
  .hero .hero-design {
    width: 90%;
    margin-left: -44.9%;
  }
  .featured .right {
    width: 55%;
    margin-bottom: -7em;
  }
  .featured .featured-title {
    font-size: 1.8em;
  }
  .inner {
    padding: 1em 4em 1em 8em;
  }
  .inner .featured-title {
    font-size: 1.7em;
  }
  .skills {
    padding: 10em 6em 0;
  }
  .skills .skills-container ul li {
    padding: 6em 3em;
  }
  .skills .skills-container ul li .skill-desc {
    font-size: 0.9em;
    line-height: 2em;
  }
  .portfolio-container a img {
    width: 80%;
    margin-left: 4em;
  }
  footer .footer-left nav {
    padding: 1.5em 8em;
  }
  footer .footer-left .social-header ul {
    padding-left: 6.5em;
    padding-bottom: 1em;
  }
}

@media only screen and (min-width: 1550px) {
  .nav-container header {
    padding: 1.5em 12em;
  }
  .nav-container .social-header {
    padding: 2em 14em 2em 0;
  }
  .hero .content {
    padding: 8em 14em 8em 14em;
  }
  .hero .hero-design {
    width: 100%;
    margin-left: -50%;
  }
  .featured .left .inner {
    margin-top: 3em;
  }
  .featured::before {
    height: 340px;
    width: 340px;
  }
  .inner {
    padding: 1em 4em 1em 14em;
  }
  .skills {
    padding: 10em 12em 0;
  }
  footer .footer-right {
    margin-top: -12em;
  }
  footer .footer-left nav {
    padding: 1.5em 14em;
  }
  footer .footer-left .social-header ul {
    padding-left: 12.5em;
    padding-bottom: 1em;
  }
}

.circle {
  animation: circleAnim 1s infinite alternate-reverse;
}

@-webkit-keyframes circleAnim {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(42px);
            transform: translateY(42px);
  }
}

@keyframes circleAnim {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  to {
    -webkit-transform: translateY(42px);
            transform: translateY(42px);
  }
}
/*# sourceMappingURL=main.css.map */